.eloc-roadTape{
  position: relative;
  width:100%;
  .singleYellowLine{
    height:4px;
    width:100%;
    background-color:#FFFF00;
  }
  .doubleYellowLine{
    height:6px;
    width:100%;
    border-top:2px solid #FFFF00;
    border-bottom:2px solid #FFFF00;
    border-right:1px solid #FFFF00;
  }
  .greenBelt{
    height:16px;
    width:100%;
    background-color:#00B050;
    border:2px solid #fff;
    border-left:none;
  }
  .medianStrip{
    height:16px;
    width:100%;
    background-color:#ADAD18;
    border:2px solid #fff;
    border-left:none;
  }
}